{% extends 'main/SideBar.html' %}
{% load static %}
{% block content %}

<div class="contacts">
    <h2 class="text-center contacts">Добро пожаловать!</h2>
    <br>
    <br>
    <h3>Username:</h3>

    <br>
    <h3 class="text-center contacts">Создать новость</h3>
    <form method="post" class="text-center contacts">
        {% csrf_token %}
        <label for="zagolovok" class="account">Заголовок Новости</label>
        <input type="text" class="account" id="zagolovok" value="">
        <br>
        <label for="anounce" class="account">Анонс новости</label>
        <input type="text" class="account" id="anounce" value="">
        <br>
        <label for="fulltext" class="account">Текст новости</label>
        <textarea class="account" id="fulltext" rows="4" cols="50">
        </textarea>
        <br>
        <br>
        <input class="btn-primary account" type="submit" value="Создать">
    </form>
</div>

{% endblock content %}