{% extends 'main/SideBar.html' %}
{% load static %}
{% block content %}

<div class="contacts">
    <h2 class="text-center contacts">Добро пожаловать!</h2>
    <br>
    <br>
    <h3>Username:</h3>

    <br>
    <h3 class="text-center contacts">Создать новость</h3>
    <form method="post">
        {% csrf_token %}
        <label for="zagolovok" class="account">Заголовок Новости</label>
        <input type="text" id="zagolovok" value="">
        <br>
        <label for="email" class="account">email</label>
        <input type="email" id="email" value="@">
        <br>
        <label for="Password" class="account">Password</label>
        <input type="password" id="Password" value="">
        <br>
        <label for="Password Confirmation" class="account">Password Confirmation</label>
        <input type="password" id="Password Confirmation" value="">
        <br>
        <br>
        <input class="btn-primary" type="submit" value="Создать">
    </form>
</div>

{% endblock content %}