{% extends 'main/SideBar.html' %}
{% load static %}
{% block content %}

<div class="content-center">
    <h1>Все новости</h1>
    <div class="row">
        {% for article in articles %}
        <div class="single_news">
            <div class="p-4 p-md-5 text-white rounded bg-dark">
                <div class="row">
                    <div class="col-md-{% if article.image_set.all %}6{% else %}12 {% endif %} px-0">
                        <h1 class="display-4 fst-italic"> {{ article.title }}</h1>
                        <p class="lead my-3">{{ article.anouncement }}</p>
                        <p class="lead mb-0"><a href="{% url 'news_detail' article.pk %}" class="text-white fw-bold">Полный
                            текст...
                        </a>
                        </p>
                    </div>
                    {% if article.image_set.all %}
                    <div class="col-md-6 px-0">
                        <img src="{{ article.image_set.all.0.image.url }}"
                             style="width:100%; height:auto; border-radius:5px;">
                        <br>
                        <br>
                        <img src="{{ article.image_set.all.1.image.url }}"
                             style="width:100%; height:auto; border-radius:5px;">
                    </div>
                    {% endif %}
                </div>

            </div>
        </div>
        {% endfor %}
    </div>
    <!--    <table border="1px;">-->
    <!--        <tr>-->
    <!--            <th> Порядковый номер новости</th>-->
    <!--            <th> Анонс</th>-->
    <!--            <th> Дата</th>-->
    <!--        </tr>-->
    <!--        {% for n in newslist %}-->
    <!--        <tr>-->
    <!--            <td> <a href="{{ n.4 }}"> {{ n.0 }} </a></td>-->
    <!--            <td> {{ n.2 }}</td>-->
    <!--            <td> {{ n.3 }}</td>-->
    <!--        </tr>-->
    <!--        <br>-->
    <!--        {% endfor %}-->
    <!--    </table>-->
</div>


{% endblock content %}