{% extends 'main/SideBar.html' %}
{% load static %}
{% block content %}

<div>
    <h1 class="text-center">Главная страница</h1>
    <p>
        Добро пожаловать на сайт "Капибар Ньюс" - вашего источника самых свежих новостей о животном мире! Мы -
        сообщество любителей животных и защитников природы, которые увлечены всем, что касается животных - от
        захватывающих открытий в мире науки до забавных и трогательных историй из жизни диких существ.
    </p>
    <p>
        На нашем сайте вы найдете увлекательные статьи о разнообразных видов животных, их поведении, образе жизни и
        взаимодействии с окружающей средой. Мы рассказываем о последних исследованиях, открытиях и событиях в мире
        животных, а также делимся интересными фактами и фотографиями.
    </p>
    <p>

    </p>
    <p>

    </p>
</div>

{% endblock content %}
