<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
    <script src="https://kit.fontawesome.com/80a43b10b5.js" crossorigin="anonymous"></script>
</head>
<body>
{% include 'main/sidebar.html' %}
<form method="post">
    {% csrf_token %}
    <h3>Выберите цвет:</h3>
    {% for color in colors %}
    <input type="radio" id="{{ color }}" name="colors" value="{{ forloop.counter }}">
    <label for="{{ color }}">{{ color }}</label><br>
    {% endfor %}
    <br>
    <input class="btn-primary" type="submit" value="Сохранить">
</form>

<form method="post">
    {% csrf_token %}
    <label> Введите название товара: </label>
    <input type="text" name="title">
    <br>
    <label> Введите цену товара: </label>
    <input type="text" name="price">
    <br>
    <label> Выберите кол-во товаров: </label>
    <input type="number" name="qty">

    <input class="btn-primary" type="submit" value="Создать товар">
</form>

<table width="500px;" border="1 px;">
    <tr>
        <th>Товар</th>
        <th>Цена</th>
        <th>Кол-во</th>
        <th>Итого</th>
    </tr>
    <tr>
        <td>{{ water.title }}</td>
        <td>{{ water.price }}</td>
        <td>{{ water.quantity }}</td>
        <td>{{ water.amount }}</td>
    </tr>
    <tr>
        <td>{{ chocolate.title }}</td>
        <td>{{ chocolate.price }}</td>
        <td>{{ chocolate.quantity }}</td>
        <td>{{ chocolate.amount }}</td>
    </tr>
</table>
</body>
</html>