<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
    <script src="https://kit.fontawesome.com/80a43b10b5.js" crossorigin="anonymous"></script>
</head>
<body>
{% if value > 0 %}
<h3> Переменная больше нуля</h3>
{% else %}
<h3> Переменная не больше нуля</h3>
{% endif %}
<h1>Главная страница из Шаблона</h1>
<h3>Заголовок 3</h3>
<h6>Заголовок 6</h6>
<p>Параграф</p>
<div>
    <h2>Новость 1</h2>
</div>
<table border="1">
    <th>Ячейка заголовка</th>
    <tr>
        <td>Ячейка 1</td>
    </tr>
</table>

</body>
</html>