{% extends 'main/SideBar.html' %}
{% load static %}
{% block content %}

<div class="contacts">
    <h2 class="text-center contacts">Регистрация</h2>
    <br>
    <form method="post">
        {% csrf_token %}
        <label for="username" class="registration">Username</label>
        <input type="text" class="registration" id="username" value="">
        <br>
        <label for="email" class="registration">email</label>
        <input type="email" class="registration" id="email" value="@">
        <br>
        <label for="Password" class="registration">Password</label>
        <input type="password" class="registration" id="Password" value="">
        <br>
        <label for="Password Confirmation" class="registration">Password Confirmation</label>
        <input type="password" class="registration" id="Password Confirmation" value="">
        <br>
        <br>
        <input class="btn-primary registration" type="submit" value="Регистрация">
    </form>
</div>

{% endblock content %}