<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
    <script src="https://kit.fontawesome.com/80a43b10b5.js" crossorigin="anonymous"></script>
</head>
<body>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-4" id="SideBar">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-4">
                    <img class="img-fluid"
                         src="https://www.pinkbus.ru/im/600x600/1868649/0/6808517/Kapibara_v_bandane.jpg" alt="Иконка"
                         style="width:100px;height:auto">
                </div>
                <div class="col-lg-9 col-md-8 col-sm-8">
                    <h3 style="color:white">Новости Капибаруса</h3>
                </div>
                <br>
                <br>
                <br>
                <br>
                <br>
                <div>
                    <h4 class="main_list" style="color:#FFFFFF">Меню</h4>
                </div>
                <br>
            </div>
            <div class="row">
                {% if request.user.is_anonymous %}
                <ul class="main_list">
                    <li style="color:#FFFFFF"><i class="fa-solid fa-house"></i><a
                            href="{% url 'home' %}"
                            style="color:#FFFFFF">
                        Главная страница </a></li>
                    <br>
                    <li style="color:#FFFFFF"><i class="fa-solid fa-newspaper"></i><a
                            href="{% url 'news_list' %}"
                            style="color:#FFFFFF">
                        Все новости </a></li>
                    <br>
                    <li style="color:#FFFFFF"><i class="fa-solid fa-people-group"></i><a
                            href="{% url 'about' %}"
                            style="color:#FFFFFF">
                        Про нас </a></li>
                    <br>
                    <li style="color:#FFFFFF"><i class="fa-solid fa-phone"></i><a
                            href="{% url 'contacts' %}"
                            style="color:#FFFFFF">
                        Контакты </a></li>
                    <br>
                    <br>
                    <br>
                    <hr style="background-color: white">
                    <li style="color:#FFFFFF" class="rounded border"><i class="fa-solid fa-door-open"></i><a
                            href="{% url 'login' %}"
                            style="color:#FFFFFF"
                    >
                        Войти </a></li>
                    <br>
                    <li style="color:#FFFFFF" class="rounded border"><i class="fa-solid fa-address-card"></i><a
                            href="{% url 'registration' %}"
                            style="color:#FFFFFF"
                    >
                        Регистрация </a></li>
                    <hr style="background-color: white">
                    <br>
                </ul>
                {% else %}
                <ul class="main_list">
                    <li style="color:#FFFFFF"><i class="fa-solid fa-house"></i><a
                            href="{% url 'home' %}"
                            style="color:#FFFFFF">
                        Главная страница </a></li>
                    <br>
                    <li style="color:#FFFFFF"><i class="fa-solid fa-newspaper"></i><a
                            href="{% url 'news_list' %}"
                            style="color:#FFFFFF">
                        Все новости </a></li>
                    <br>
                    <li style="color:#FFFFFF"><i class="fa-solid fa-people-group"></i><a
                            href="{% url 'about' %}"
                            style="color:#FFFFFF">
                        Про нас </a></li>
                    <br>
                    <li style="color:#FFFFFF"><i class="fa-solid fa-phone"></i><a
                            href="{% url 'contacts' %}"
                            style="color:#FFFFFF">
                        Контакты </a></li>
                    <br>
                    <br>
                    <br>
                    <hr style="background-color: white">
                    <li style="color:#FFFFFF" class="rounded border"><i class="fa-solid fa-door-open"></i><a
                            href="{% url 'logout' %}"
                            style="color:#FFFFFF"
                    >
                        Выход </a></li>
                    <br>
                    <li style="color:#FFFFFF" class="rounded border"><i class="fa-solid fa-address-card"></i><a
                            href="{% url 'create_article' %}"
                            style="color:#FFFFFF"
                    >
                        Создать статью </a></li>
                    <hr style="background-color: white">
                    <br>
                    <li style="color:#FFFFFF">
                        Добро пожаловать,
                        <p><a href="{% url 'profile' %}" class="podcherk">
                            {{ request.user }} </a>!</p>
                    </li>
                </ul>

                {% endif %}
            </div>
            <p style="color:#FFFFFF">
                {% if messages %}
                {% for message in messages %}
                <br>
            <div style="color:#FFFFFF" class="alert-alert-{{ message.tags }}">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
            </p>
        </div>
        <div class="col-lg-9 col-md-8 col-sm-8" id="Content">
            {% block content %}
            {% endblock content %}
        </div>
    </div>
</div>


</body>
</html>