{% extends 'main/SideBar.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}


<div class="text-center" id="reg_form">
    <h2>Регистрация</h2>
    <br>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <h5>Тип аккаунта:</h5>
        <div>
            <input type="radio" class="form-check-input" id="author" name="account_type" value="author">
            <label class="form-check-label" for="author">Автор</label>
        </div>
        <div>
            <input type="radio" class="form-check-input" id="reader" name="account_type" value="reader" checked>
            <label class="form-check-label" for="reader">Читатель</label>
        </div>
        <input type="submit" class="btn btn-outline-success" value="Зарегистрироваться">
    </form>
</div>


{% endblock content %}