ul.main_list {
    list-style-type:none;
}

h4.main_list {
    margin-left: 25%;
}

body {
    height: 100vh;
}

.Content {
    background-color: white;
}

#user_link1 {
    color: white;
    text-decoration: none;
    background-color: blue;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
}

#user_link0 {
    color: white;
    text-decoration: none;
    background-color: blue;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
}

.registration {
    display: block;
    margin: 0 auto;
    width: 200px;
}

.account {
    display: block;
    margin: 0 auto;
    width: 500px;
}

.contact_form {
    float: left;
    margin: 10px 30%;
}

#SideBar {
    height:100vh;
    background-color: black;
    display: block;
    top: 0;
    bottom: 0;
    position: sticky;
}

#carouselExampleControls {
    width: 400px;
    height: auto;
    margin: auto;
}

#fulltext {
    display: block;
    margin: 0 auto;
    width: 500px;
    height: 300px;
}

#reg_form {
    width: 55%;
    margin: auto;
}

#log_form {
    width: 55%;
    margin: auto;
}


