ul.main_list {
    list-style-type:none;
}

h4.main_list {
    margin-left: 25%;
}

body {
    height: 100vh;
}

.Content {
    background-color: white;
}

#user_link1 {
    color: white;
    text-decoration: none;
    background-color: blue;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
}

#user_link0 {
    color: white;
    text-decoration: none;
    background-color: blue;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
}

.registration {
    display: block;
    margin: 0 auto;
    width: 200px;
}

.account {
    display: block;
    margin: 0 auto;
    width: 500px;
}

#SideBar {
    height:100vh;
    background-color: black;
}

#fulltext {
    display: block;
    margin: 0 auto;
    width: 500px;
    height: 300px;
}