{% extends 'main/SideBar.html' %}
{% load static %}

{% block content %}

<!--<br>-->
<!--<br>-->
<!--<br>-->
<div class="content-center">
    <h1 class="text-center">Все новости</h1>
    <table border="1px;">
        <tr>
            <th> Порядковый номер новости</th>
            <th> Анонс</th>
            <th> Дата</th>
            <th> Автор</th>
        </tr>
        {% for n in news %}
        <tr>
            <td> <a href="{{n.get_absolute_url}}"> {{ n.title }} </a></td>
            <td> {{ n.anouncement }}</td>
            <td> {{ n.date }}</td>
            <td> {{ n.author.username }}</td>
        </tr>
        <br>
        {% endfor %}
    </table>

</div>

{% endblock content %}