{% extends 'main/SideBar.html' %}
{% load static %}

{% block content %}

<!-- jQuery !-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<!-- jQuery UI !-->
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<script>

  $(function() {
    $("#search_input").autocomplete({
      source: "search_auto/",
      select: function (event, ui) { //item selected
        AutoCompleteSelectHandler(event, ui)
      },
      minLength: 2,
    });
  });

  function AutoCompleteSelectHandler(event, ui)
  {
    var selectedObj = ui.item;
  }

</script>

<h1 class="text-center">Поиск новостей</h1>
<br>
<div class="text-center">
    <div class="search">
        <label for="search_input">Поиск: </label>
        <input id="search_input">
        <button class="btn btn-outline-success">Найти</button>
    </div>
    <br>
</div>
<br>
{% for n in news %}
<div>
    <p><a href="{{n.get_absolute_url}}">{{ n.title }} </a></p>
    <p> Анонс {{ n.anouncement }}</p>
    <p> Дата {{ n.date }}</p>
    <p> Автор {{ n.author.username }}</p>
    <br>
    <hr>
</div>
{% endfor %}

{% endblock content %}