{% extends 'main/SideBar.html' %}
{% load static %}

{% block content %}

<h1 class="text-center">Все новости</h1>
<br>
<div class="text-center">
    <label><h3> Фильтры: (Всего :{{ news|length }} результатов) </h3>
        <form method="post">
            {% csrf_token %}
            <div class="form-group col-11">
                <select class="form-select" name="author_filter">
                    <option value="0">Все авторы</option>
                    {% for author in author_list %}
                    <option value="{{ author.id }}" {% if selected_author == author.id %} selected {% endif %}>
                        {{ author.username }}
                    </option>
                    {% endfor %}
                </select>
                <select class="form-select" name="category_filter">
                    <option value="0">Все категории</option>
                    {% for c in categories %}
                    <option value="{{ forloop.counter }}" {% if selected_category == forloop.counter %} selected {% endif %}>
                        {{ c.1 }}
                    </option>
                    {% endfor %}
                </select>
                <br>
                <br>
                <input type="submit" class="btn btn-outline-success" value="Применить">
            </div>
        </form>
    </label>
</div>
<br>
{% for n in news %}
<div>
    <p><a href="{{n.get_absolute_url}}">{{ n.title }} </a></p>
    <p> Анонс {{ n.anouncement }}</p>
    <p> Дата {{ n.date }}</p>
    <p> Автор {{ n.author.username }}</p>
    <br>
    <hr>
</div>

{% endfor %}


{% endblock content %}